body {
  font-size: 16px;
  color: #fff;
  background-color: #61122f;
  font-family: 'Oxygen', sans-serif;
}

/** HEADER **/
#header-nav {
  background-color: #f6b319;
  border-radius: 0;
  border: 0;
}



.navbar-brand {
  vertical-align: middle;
}

.navbar-brand h1 { /* Restaurant name */
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 1.5em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
  vertical-align: middle;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}


#nav-list {
  border-color: #951C49;
}
#nav-list a {
  color: #951C49;
  text-align: center;
  font-weight: bold;
}
#nav-list a:hover {
  background: #951C49;
}
#nav-list a span {
  padding: 0;
  font-size: 1.8em;
  vertical-align: middle;
  height: 30px;
}



.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -60px;
}
/* END HEADER */


/* HOME PAGE */

.container .heading{
  font-family: 'Lora', serif;
  color: #557c3e;
  font-size: 2em;
  font-weight: bold;
  text-shadow: 1px 1px 1px #222;
  text-align: center;
  margin: 15px;
  vertical-align: middle;
}

#menu-tile, #specials-tile, #map-tile {
  height: fit-content;
  width: 100%;
  margin-bottom: 15px;
  position: relative;
  background-color: #f6b319;
  border: 5px solid #3F0C1F;
}
#menu-tile:hover, #specials-tile:hover, #map-tile:hover {
  box-shadow: 0 1px 5px 1px #cccccc;
}

#menu-tile {
  background-position: center;
}
#specials-tile {
  background-position: center;
}

#menu-tile , #specials-tile , #map-tile {
 
  top: 0;
  right: 0;
  width: 100%;
  text-align: center;
  font-size: 1.6em;
  color:#61122f;
  font-weight: bold;
}
#paragraph{
  padding-top: 10 px;
  font-size: 0.8em;
  text-align: center;
  color:#61122f;
  line-height: .75;
}

/* END HOME PAGE */

/********** Extra small devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
    border-color: #951C49;
  }
  #collapsable-nav a span { /* Collapsed nav menu glyph */
    font-size: 1em;
    margin-right: 5px;
    background-color: #557c3e;
    border-color: #951C49;
  }

}


/********** Super extra small devices Only :-) (e.g., iPhone 4) **********/
@media (max-width: 479px) {
  /* Header */
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 5px;
    font-size: 6vw;
  }

}


